@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 228 8.77% 11.18%;

    --card: 0 0% 100%;
    --card-foreground: 228 8.77% 11.18%;

    --popover: 0 0% 100%;
    --popover-foreground: 228 8.77% 11.18%;

    --primary: 228 8.77% 11.18%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 0% 95.69%;
    --secondary-foreground: 228 8.77% 11.18%;

    --muted: 0 0% 95.69%;
    --muted-foreground: 228 8.77% 11.18% / 60%;

    --accent: 0 0% 95.69%;
    --accent-foreground: 228 8.77% 11.18%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 89.41%;
    --input: 0 0% 89.41%;
    --ring: 228 8.77% 11.18%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  p {
    @apply leading-relaxed;
  }
}
